In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
wg = pd.read_csv('mergeWG.csv')

In [3]:
wg.shape

(249520, 14)

In [6]:
wg.head()

,Unnamed: 0,tm,pvn_nm,max_ta,avg_ta,min_ta,max_ws,avg_wa,avg_rhm,sum_rn,gen_cd,age_cd,category,qty
0,0,20160101.0,0.0,4.9375,0.058333,-5.775,2.675,0.766667,77.583333,0.0,0,0,101,541
1,1,20160101.0,0.0,4.9375,0.058333,-5.775,2.675,0.766667,77.583333,0.0,0,0,100,273
2,2,20160101.0,0.0,4.9375,0.058333,-5.775,2.675,0.766667,77.583333,0.0,0,1,101,12507
3,3,20160101.0,0.0,4.9375,0.058333,-5.775,2.675,0.766667,77.583333,0.0,0,1,100,4968
4,4,20160101.0,0.0,4.9375,0.058333,-5.775,2.675,0.766667,77.583333,0.0,0,1,103,3566

In [8]:
wg = wg.drop('Unnamed: 0', axis = 1)