# 2. EDA_2

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn')
sns.set(font_scale=2.5)

%matplotlib inline

In [2]:
weather = pd.read_csv('df_weather.csv')
gs25 = pd.read_csv('df_gs25.csv')

In [3]:
weather.shape

(3289, 10)

In [12]:
# weather.head()

In [5]:
gs25.shape

(249520, 7)

In [13]:
# gs25.head()

csv파일로 새로 저장하면서 생긴 이전의 index를 삭제한다.

In [9]:
weather = weather.drop('Unnamed: 0', axis = 1)
gs25 = gs25.drop('Unnamed: 0', axis = 1)

In [14]:
# weather.head()

In [15]:
# gs25.head()

## merge

  * merge를 하기 위하여 weather과 gs25에서 공통된 조건을 만들어준다.

In [16]:
weather.head()

,tm,pvn_nm,max_ta,avg_ta,min_ta,max_ws,avg_wa,avg_rhm,sum_rn
0,20160101.0,0.0,4.937500,0.058333,-5.775000,2.675000,0.766667,77.583333,0.0
1,20160102.0,0.0,10.095833,4.600000,0.412500,3.316667,1.075000,77.916667,0.0
2,20160103.0,0.0,9.641667,4.550000,0.716667,2.508333,0.566667,85.000000,0.0
3,20160104.0,0.0,6.658333,2.495833,-2.495833,4.487500,1.875000,56.250000,0.0
4,20160105.0,0.0,2.000000,-2.213043,-5.775000,3.937500,1.454167,42.304348,0.0

In [17]:
gs25.head()

         tm pvn_nm  gen_cd  age_cd  category    qty
0  20160101  서울특별시       0       0       100    392
1  20160101  서울특별시       0       1       101  19853
2  20160101  서울특별시       0       1       100   7646
3  20160101  서울특별시       0       1       102    154
4  20160101  서울특별시       0       1       103   5481

  * tm, pvn_nm 이 데이터를 활용하여 merge를 하면 필요한 머신러닝을 위한 데이터를 만들 수 있을 것으로 보인다.
  * 이를 위하여 pvn_nm의 데이터를 맞춰줄 필요가 있다. 후의 머신러닝을 모델을 활용하기 위하여 숫자로 변환해주겠다.

In [23]:
gs25['pvn_nm'] = gs25['pvn_nm'].map({'경기도' : 0,
                                     '서울특별시' : 1,
                                     '인천광역시' : 2})

In [24]:
mergeWG = pd.merge(weather, gs25, on = ('tm', 'pvn_nm'))

In [25]:
mergeWG.shape

(249520, 13)

In [26]:
mergeWG.head()

,tm,pvn_nm,max_ta,avg_ta,min_ta,max_ws,avg_wa,avg_rhm,sum_rn,gen_cd,age_cd,category,qty
0,20160101.0,0.0,4.9375,0.058333,-5.775,2.675,0.766667,77.583333,0.0,0,0,101,541
1,20160101.0,0.0,4.9375,0.058333,-5.775,2.675,0.766667,77.583333,0.0,0,0,100,273
2,20160101.0,0.0,4.9375,0.058333,-5.775,2.675,0.766667,77.583333,0.0,0,1,101,12507
3,20160101.0,0.0,4.9375,0.058333,-5.775,2.675,0.766667,77.583333,0.0,0,1,100,4968
4,20160101.0,0.0,4.9375,0.058333,-5.775,2.675,0.766667,77.583333,0.0,0,1,103,3566

In [30]:
mergeWG.to_csv('mergeWG.csv')